.viking-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    box-shadow: $menu-box-shadow;
    >.menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        &:hover, &:focus {
            text-decoration: none;
        }
        &.is-active, &:hover {
            color: $menu-item-active-color;
        }
        &.is-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
    }
    >.submenu-item {
        position: relative;
    }
    
    .viking-submenu {
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        white-space: nowrap;
        >.menu-item {
            padding: $menu-item-padding-y $menu-item-padding-x;
            cursor: pointer;
            transition: $menu-transition;
            color: $body-color;
            &.is-active, &:hover {
                color: $menu-item-active-color !important;
            }
        }
    }
}

.menu-horizontal {
    flex-direction: row;
    border-bottom: $menu-border-width solid $menu-border-color;
    >.menu-item {
        border-bottom: $menu-item-active-border-width solid transparent;
        &.is-active, &:hover {
            border-bottom: $menu-item-active-border-width solid 
                $menu-item-active-color;
        }
    }
    .viking-submenu {
        position: absolute;
        background: $white;
        z-index: 1;
        top: 100%;
        left: 0;
        border: $menu-border-width solid $menu-border-color;
        // box-shadow: $submenu-box-shadow;
    }
}

.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    margin: 10px 20px;
    border-right: $menu-border-width solid $menu-border-color;
    >.menu-item {
        border-left: $menu-item-active-border-width solid transparent;
        &.is-active, &:hover {
            border-bottom: 0px;
            border-left: $menu-item-active-border-width 
                solid $menu-item-active-color;
        }
    }
}