@mixin button-size(
    $padding-y, $padding-x, 
    $font-size, 
    $border-radius
) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

@mixin alert-color($background,$color) {
    color: $color;
    background-color: $background;
}

@mixin button-color(
    $background,
    $border-color,
    $color,
    $hover-background: lighten($background, 7.5%),
    $hover-border-color: lighten($border-color, 10%),
    $hover-color: $color
){
    color: $color;
    background: $background;
    border-color: $border-color;
    &:hover{
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border-color;
    }
    &:focus, &.focus{
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border-color;
    }
    &[disabled], &.disabled{
        color: $color;
        background: $background;
        border-color: $border-color;
    }
}